*{
    font-family: 'Roboto', sans-serif;
}

.price{
    text-align: right; 
}

.normal-price{
    display:inline-block;
    color: #707070;
    vertical-align:auto;
    text-align: end;
    justify-content: end;

}

.limited-price{
    display:inline-block;
    color: #28a745;
    vertical-align:auto;
    text-align: end;
    justify-content: end;
}

.title-description h5, i{
    display: inline;
}
.description p{
    display: inline;
}

.black-text{
    color: #000000;
}
.gray-text{
    color:#707070;
}

.register-form{
    display: inline-block;
    width: 80%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

form{
    display: inline-block;
    margin: 2.5%;
    width: 95%;
    
    background-color: #28a745;
    border-radius: 0.25rem;
}

.form-title{
    text-align: center;
    color: #ffffff;
}
.form-content{
    width: 95%;
    margin: 2.5%;
}

.footer-height{
    height: 100px;
    margin-top: 25px;
}

.footer-icon{
    width: 4%;
    margin-left: 48%;
    margin-right: 48%;
}

.footer-text{
    text-align: center;
}
.card{
    transition: 800ms;
}

.card:hover{
    transition: 800ms;
    transform: scale(1.06, 1.06);
    box-shadow: 0px 0px 15px #0e3a18;
}